<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Language</title>
</head>
<body>
<form th:action="@{/search/langName}" th:object="">
    <label>
        <input type="text" placeholder="input language">
    </label>
    <input type="submit" value="Search">
</form>
<table>
    <tr border=1>
        <th>Id</th>
        <th>Language Name</th>
        <th>Last update</th>
    </tr>
    <tr th:each="item : ${langList}" th:object="${/langName}">
        <td th:utext="${item.langId}"></td>
        <td th:utext="${item.langName}"></td>
        <td th:utext="${item.lastUpdate}"></td>
    </tr>
</table>
<br>

</body>
</html>